@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home{
    height: calc(100vh - 80px);
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/web-backgroundhome.png");
    background-size: cover;
    /* background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar a{ 
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: transform 0.2s;
}

.navbar a:hover{
    transition: scale(1.1);
    color: #007acc;
    text-decoration: underline;
    transform: scale(1.05);
}

.navbar h2{
    color: white;
}

.introduction {
    text-align: center;
    padding: 50px;
    color:white;
}

.introduction h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.introduction p{
    margin-top: 15px;
}

.introduction .btn{
    margin-top: 10px;
}

/* Button style used for links like the About button */
.btn{
    display: inline-block;
    background-color: #007acc;
    color: #ffffff;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
}
.btn:hover{
    background-color: #005fa3;
    transform: scale(1.05);
}

/* Stumble Guys Playlist */
.game-section{
    min-height: 100vh;
    /* sg-background */
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/sg-background.png");
    
    background-size: cover;
    background-position: center;

    color: white;
    padding: 80px 10%;
}

.game-text{
    max-width: 900px;
    margin: 0 auto 80px;
    text-align: center;
}
.game-text h1{
    font-size: 55px;
    margin-bottom: 25px;
}

.game-text p{
    font-size: 18px;
    line-height: 1.7;
}

/*SG Playlist*/
/* mobile */
@media (max-wdith: 768px){
    .game-section {
        padding: 60px 7%;
    }
    .game-text h1{
        font-size: 40px;
    }
    .game-text p{
        font-size: 16px;
    }
}
/*Crown SG*/

.stumble-guys-crown,
.sg-tournament {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 100px;
}

/* Headings */

.stumble-guys-crown h2,
.sg-tournament h2 {
    font-size: 40px;
    width: 40%;
}

/* YouTube videos */

.stumble-guys-crown iframe,
.sg-tournament iframe {
    width: 50%;
    aspect-ratio: 16 / 9;

    border: none;
    border-radius: 10px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* Crown Grinding
   Text LEFT → Video RIGHT */

.stumble-guys-crown {
    flex-direction: row;
}

/* Tournament
   Video LEFT → Text RIGHT */

.sg-tournament {
    flex-direction: row-reverse;
}

/* Adding texts*/
.playlist-text{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.playlist-text h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.playlist-text p{
    font-size: 18px;
    line-height: 1.6;
}
/* Among Us Playlist */
